PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=opendebate
DB_TEST=opendebate_test
NODE_ENV=development
CORS_ORIGINS=http://localhost:5173
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1d
